__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.idea/
.vscode
.coverage
*.coverage
.coverage.
frontend/node_modules/
frontend/dist/
ai_worker/uv
ai_worker/packages/
ai_worker/uv-x86_64-unknown-linux-musl/
*.xlsx
