# docker
DOCKER_USER=팀장의 도커 계정 유저 이름 입력
DOCKER_REPOSITORY=도커 이미지를 업로드할 공유 레포지토리 이름 입력

# fastapi
APP_VERSION=작성한 fastapi앱 버젼입력(ex. v1.0.0)
SECRET_KEY=fastapi에서 사용할 시크릿키 (보안적으로 매우 중요!)
COOKIE_DOMAIN=배포 도메인 (해당 도메인에서만 쿠키 공유를 허용합니다)

# ai-worker
AI_WORKER_VERSION=작성한 ai worker의 버젼입력(ex. v1.0.0)

# db
DB_HOST=fastapi or ai-worker에서 db에 접근할 때 사용할 host(db 도커 컨테이너 이름)
DB_PORT=3306 # mysql 서비스가 리스닝할 포트입니다.
DB_EXPOSE_PORT=3306 # 도커 컨테이너 외부에서 db 컨테이너에 접근할때 사용하는 포트입니다.
DB_USER=배포 환경에서 사용할 mysql 유저네임 입력
DB_PASSWORD=배포 환경에서 사용할 mysql 유저 비밀번호 입력
DB_ROOT_PASSWORD=배포 환경에서 사용할 mysql의 root 유저 비밀번호 입력(최고 관리자 유저이기 때문에 보안상으로 중요)
DB_NAME=배포 환경에서 사용할 mysql db이름 입력
